body {
    background-color:#E1D7D4;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 1000px;
    font-family: 'Roboto Mono', monospace;
    padding-top: 70px;
}

.title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    color: #E34E45;
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.directions {
    color: #000;
    font-family: 'Roboto Mono', monospace;
}

.tables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 330px;
    width: 390px;
    padding: 30px 60px;
    border-radius: 5px;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 10px;
    cursor: default;
} 

.available {
    background-color: #EEE;
    color: #ADAAAA;
}

.reserved {
    background-color: #ADAAAA;
    color: #CCC;
}

.form-container {
    display: none;
    background-color: #FFF;
    position: absolute;
    z-index: 1;
    width: 400px;
    top: 25%;
    border-radius: 5px;
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
    padding: 20px;
}

.form-title {
    font-family: 'Roboto Mono', monospace;
    color: #E34E45;
    font-weight: 700;
    font-size: 20px;
}

.table-number {
    margin: 20px 0;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.person-input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}

.save-btn {
    background-color: #008000;
    border: none;
    color: white;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
    padding: 15px 0;
    margin-top: 15px;
}

.material-icons {
    float: right;
    cursor: default;
}

.reservation {
    background-color: #ADAAAA;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 10px;
    position: absolute;
    z-index: 10;
    width: 100px;
    padding: 3px;
    font-size: 10px;
}

@media only screen and (max-width: 400px) {
    body {
        height: 100%;
        font-family: 'Roboto Mono', monospace;
        padding-top: 10px;
    }

    .directions {
        font-size: 20px;
    }

    .tables-container {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .table {
        height: 110px;
        width: 110px;
        border-radius: 55px;
    }

    .form-container {
        width: 90%;
        height: 60%;
    }

    .reservation {
        font-size: 15px;
    }
}